  <div class="page-header">
    <h1>Your current TODO list: </h1>
  </div>
    <ul class="list-group">
      <% @todos.each do |todo| %>
        <li class="list-group-item"> 
          <%= todo.item  %>
          <%= todo.updated_at %>
          <%= link_to 'Edit', edit_todo_path(todo.id) %>
          <%= link_to 'Delete', todo_path(todo.id), method: :delete %>
          <%= link_to 'Send Text', send_text_path, locals => {todo: todo.item}%>
        </li>
      <% end %>
    </ul>



<%= link_to 'new todo' , new_todo_path , class: 'btn btn-primary' %>

<%= flash[:success] %>